@model Reservation_Std.Models.Reservation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/DLayout.cshtml";
}
<div style="margin-top:5%;">
    <h1 class="alert-light text-center">Details</h1>
</div>
<hr />

    <div >


        <dl class="row" style="margin-left:36%;">

            <dt  class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilisateur.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilisateur.Nom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.Nom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utilisateur.Email_Utilisateur)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utilisateur.Email_Utilisateur)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReservationType.Nom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReservationType.Nom)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
    </div>
    <div style=" display: flex; justify-content: space-evenly;  ">

        <a class="btn btn-success" asp-action="ApprouveRequest" value="Approuve" asp-route-id="@Model.Id"><i class="fa fa-check"></i>Approuve</a>
        <a class="btn btn-danger" asp-action="RejectRequest" value="Reject" asp-route-id="@Model.Id"><i class="fa fa-remove"></i>Reject</a>


        <a class="btn btn-outline-dark" asp-action="Index">
            <i class="fa fa-arrow-left"></i> Back to List
        </a>
    </div>
