@model IEnumerable<Reservation_Std.Models.Reservation>

@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Views/Shared/DLayout.cshtml";


}
<div style="margin-top:5%;">
    <h1 class="alert-light text-center">Reservation List</h1>
</div>


@* For display Etudiant info *@

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.Utilisateur.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Utilisateur.Prenom)

            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Utilisateur.Email_Utilisateur)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.ReservationType.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Date)
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var Item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Item.Utilisateur.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Item.Utilisateur.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Item.Utilisateur.Email_Utilisateur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Item.ReservationType.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>